body {
background-color: rgb(223, 214, 214);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


h1 {   
color:rgb(160, 42, 36);
font-size: 50px;
text-align: center;
}

ul, ol {
    list-style-type:symbols('✓');
    overflow: hidden;
    background-color: #ffffff;
}

li {
    text-align: justify;
    padding: 14px 8px;
    text-decoration: none;
    font-size: larger;
    
}
p {
    background-color: #ffffff;
    text-align: center;
    font-size: large;
}

.bottom {
    text-align: center;
  }
  
  .bottom a {
    display: inline-block;
    margin: 0 20px; /* Adjust the margin as needed */
  }
  
  .separator {
    display: inline-block;
    width: 1px;
    height: 10px; /* Adjust the height as needed */
    align-items: center;
    background-color: black; /* Separator color */
    margin: 0 10px; /* Adjust the margin as needed */
  }
  .footer {
    text-align: center;
  }