body {
    background-color: rgb(255, 255, 255);
    color: #000000f3;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:large;

  }
h1 {
    text-align: center;
    color: #ff0000a9;
}

h2 {
    text-align: justify;
    color: #ff0000a9;
}

.top-section {
  text-align: center;
}

.top-section a {
  display: inline-block;
  margin: 0 20px; /* Adjust the margin as needed */
}

.separator {
  display: inline-block;
  width: 1px;
  height: 10px; /* Adjust the height as needed */
  background-color: black; /* Separator color */
  margin: 0 10px; /* Adjust the margin as needed */
}


ul, ol {
background-color: rgba(172, 27, 27, 0.056);
list-style-type: square;
text-align: justify;
text-decoration: none;
font-size: large;
}

img {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  max-height: 40%;
  height: auto
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: small;
  
}
