body {
    background-color: rgba(255, 255, 255, 0.173);
    color: #000000f3;
    font-family:sans-serif
  }
h1 {
    text-align: center;
    color: #bc3d3df3;
}

.top-section {
  text-align: center;
}

.top-section a {
  display: inline-block;
  margin: 0 20px; /* Adjust the margin as needed */
}

.separator {
  display: inline-block;
  width: 1px;
  height: 10px; /* Adjust the height as needed */
  background-color: black; /* Separator color */
  margin: 0 10px; /* Adjust the margin as needed */
}