body {
    background-color: rgb(223, 214, 214);
    color: #000000f3;
    font-family:sans-serif
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
  }
  p{
    text-justify:distribute-all-lines;
    text-align: justify;
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style:circle
  }

hr {
  border-color: #000000;
  margin: 40px 0;
  
}
figcaption {
  text-align: center;
  font-style: italic;
  font-size: small;
}

img     {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}